{% extends 'exercise/exercises/exercise_base.html' %}

{% block exercise_content %}
<div _="install ImageMChoiceExercise">
    <div class="flex items-center justify-center" _="on load audio.play() end">
        <audio src="{{ audio_file }}" id="audio"></audio>
        <button _="on click audio.play() end" id="play-audio" class="bg-indigo-600 text-white px-4 py-2 rounded-lg hover:bg-indigo-700 transition duration-300 flex items-center space-x-2">
            <i class="fas fa-volume-up"></i>
            <span>Ouvir novamente</span>
        </button>
    </div>

    <div class="p-6 rounded-lg flex flex-col justify-center items-center place-items-center">
        <h3 class="text-lg font-semibold text-indigo-800 mb-3">{{ header }}</h3>
        <div id="exercise-options" class="grid grid-cols-2 gap-4 place-items-center">
            {% for value, image in choices.items %}
            <button _="on click call selectChoice(me)" value="{{ value }}" class="p-2 rounded-lg cursor-pointer hover:bg-gray-300 transition duration-300 w-fit">
                <img src="{{ image }}" alt="alt">
            </button>
            {% endfor %}
        </div>
    </div>

    {% include 'exercise/partials/exercise_buttons.html' %}
</div>
{% endblock %}
