{% extends 'exercise/exercises/exercise_base.html' %}
{% load core_tags %}

{% block exercise_content %}
<div _="install MChoiceExercise">
    
    <div class="p-6 rounded-lg mb-6">
        <h3 class="text-lg font-semibold text-indigo-800 mb-3">{{ header }}</h3>
        <div id="exercise-options" class="grid grid-cols-1 md:grid-cols-2 gap-6 pt-3">
            {% for value, audio_file in choices.items %}
            <audio src="{{ audio_file }}" id="audio{{ forloop.counter }}"></audio>
            <button value="{{ value }}" _="on click call selectChoice(me) then audio{{ forloop.counter }}.play()" class="p-2 text-center rounded-xl transition duration-300 bg-white hover:bg-indigo-100 shadow hover:shadow-md border border-indigo-200 hover:border-indigo-300 flex justify-center items-center space-x-3">
                <span><i class="fas fa-volume-up"></i> Ouvir</span>
            </button>
            {% endfor %}
        </div>
    </div>

    {% include 'exercise/partials/exercise_buttons.html' %}
</div>
{% endblock %}
 