{% extends 'exercise/exercises/exercise_base.html' %}
{% load core_tags %}

{% block exercise_content %}
<div _="install MChoiceExercise">
    
    <div class="p-6 rounded-lg mb-6">
        <h3 class="text-lg font-semibold text-indigo-800 mb-3">{{ header }}</h3>
        <div id="exercise-options" class="grid grid-cols-1 md:grid-cols-2 gap-6 pt-3">
            {% for value, audio_file in choices.items %}
            <audio src="{{ audio_file }}" id="audio{{ forloop.counter }}"></audio>
            <button value="{{ value }}" _="on click call selectChoice(me) then audio{{ forloop.counter }}.play()" class="p-2 text-center rounded-xl transition duration-300 bg-white hover:bg-indigo-100 shadow hover:shadow-md border border-indigo-200 hover:border-indigo-300 flex justify-center items-center space-x-3">
                <span><i class="fas fa-volume-up"></i> Ouvir</span>
            </button>
            {% endfor %}
        </div>
    </div>

    <div class="flex justify-center space-x-4 mb-4">
        <button _="on click 
            if getAnswer() != null
                add @disabled to me
                add @disabled to #next-button
                call checkAnswer('{{ url }}')
            end
        end
        "  
        class="bg-indigo-600 text-white px-6 py-2 rounded-md hover:bg-indigo-700 transition duration-300 flex items-center disabled:opacity-50 disabled:cursor-not-allowed">
            <i class="fas fa-check mr-2"></i> Verificar
        </button>
        <button id="next-button" _="on click call loadExercise()" class="bg-yellow-500 text-white px-6 py-2 rounded-md hover:bg-yellow-600 transition duration-300 flex items-center disabled:opacity-50 disabled:cursor-not-allowed">
            <i class="fas fa-forward mr-2"></i> Pular
        </button>
    </div>
    <div id="exercise-result-message" class="text-center font-bold mt-4"></div>
</div>
{% endblock %}
 