{% extends 'base.html' %}
{% load term_tags %}

{% block style%}
strong {
    font-weight: 600;
    color: #4338ca;
}
{% endblock %}

{% block content%}
    <header class="mb-8 flex justify-between items-center">
        <div>
            <h1 class="text-5xl font-bold text-indigo-800 mb-2">{{ term_lexical.value | title}}</h1>
            <div class="flex items-center space-x-4">
                <audio id="audio" src="{{ term_pronunciation.audio_file }}"></audio>
                <button class="text-indigo-800 p-2 transition duration-300 flex items-center" _="on click audio.play()">
                    <i class="fa-solid fa-volume-high"></i>
                </button>
                <span class="text-lg text-gray-600">{{ term_pronunciation.phonetic }}</span>
            </div>
        </div>
        <div class="flex items-center space-x-4">
            <div class="relative inline-block w-48">
                <select id="language-select" class="block appearance-none w-full bg-white border border-gray-300 hover:border-indigo-400 px-4 py-2 pr-8 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 text-sm">
                    <option value="not-selected" selected>Selecione o idioma</option>
                    {% for code, name in languages%}
                    <option value="{{ code }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button _="on click async call translateDefinitions() then async call translateExamples()" type="button" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Traduzir
            </button>
        </div>
    </header>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="md:col-span-2 space-y-8">
            <div class="bg-white rounded-lg shadow p-6">
                <h2 class="text-2xl font-bold mb-4 text-indigo-800">Definições</h2>
                <div class="space-y-4">
                {% for term_definition in term_definitions %}
                <div class="p-4 bg-gray-50 rounded-lg">
                    <div class="flex justify-between items-center mb-2">
                        <span class="font-semibold text-xl text-indigo-700">{{ term_definition.get_part_of_speech }}</span>
                        <span class="bg-indigo-100 text-indigo-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded">{{ term_definition.level }}</span>
                    </div>
                    <p id="definition-{{ term_definition.id }}" class="text-lg mb-1">{{ term_definition.definition|term_reference:term.language}}</p>
                    <p id="translation-definition-{{ term_definition.id }}" class="text-md text-gray-600 italic"></p>
                    <div class="mt-6">
                        {% for term_example_link in term_definition_examples %}
                          {% if term_example_link.term_definition_id == term_definition.id %}
                            <ul class="space-y-1 list-disc list-outside pl-5">
                              <li>
                                <p id="example-{{ term_example_link.term_example.id }}" class="text-gray-800">
                                    {{ term_example_link.term_example.example|highlight_sentence:term_example_link.highlight|term_reference:term.language }}
                                </p>
                                <p id="translation-example-{{ term_example_link.term_example.id }}" class="text-sm text-gray-600 mt-1 italic">
                                </p>
                              </li>
                            </ul>
                          {% endif %}
                        {% endfor %}
                      </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="bg-white rounded-lg shadow p-6">
            <h2 class="text-2xl font-bold mb-4 text-indigo-800">Exemplos</h2>
            <div hx-get="{% url 'term:term_examples' language=term.language %}?term_lexical={{ term_lexical.id }}" hx-trigger="load" id="examples-container" class="space-y-4">
            </div> 
        </div>

    </div>
{% endblock %}

{% block script %}
<script type="text/hyperscript">
    init changeMenuSelection('menu-explore') end

    def translateContent(type)
        set language to value of #language-select
        for div in document.querySelectorAll(`p[id^="translation-${type}"]`)
            if div@language != language
                set div.innerHTML to ''
                set div@language to language
                set div@ignore to 'false'
            end
        end
        if language == 'not-selected' exit end
        set contentIds to []
        for div in document.querySelectorAll(`p[id^="${type}-"]`)
            append div.id.split('-')[1] to contentIds
        end
        for contentId in contentIds
            set targetElement to document.getElementById(`translation-${type}-${contentId}`)
            if targetElement@ignore == 'false'
                async fetch `/api/term/${type}/translation/${contentId}/${language}` as response then
                    if it.status == 200
                        set response to it.json()
                        set targetElement.innerHTML to response.translation
                    end
                end
                set targetElement@ignore to 'true'
            end
        end
    end

    def translateDefinitions()
        call translateContent('definition')
    end

    def translateExamples()
        call translateContent('example')
    end
</script>
{% endblock %}