{% load core_tags %}
{% load i18n %}

{% for cardset in cardsets %}
<div {% if cardset.card_count != 0 %} _="on click go to url {% url 'card:cardset_view' cardset_id=cardset.id %} end" {% endif %}
    class="card-hover bg-white shadow-lg rounded-lg p-6 transition duration-300 relative size-full px-5 cursor-pointer"
>
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl font-semibold text-indigo-700 break-all">{{ cardset.name }} {% if cardset.language %} - {{ cardset.get_language_label }} {% endif %}</h2>
        <span class="text-sm font-medium bg-indigo-100 text-indigo-800 py-1 px-2 rounded-full text-center">{{ cardset.card_count }} {% translate 'cartões' %}</span>
    </div>
    <div class="flex justify-between mt-4">
        <div class="flex flex-col justify-between gap-1">
            <span class="text-sm text-gray-500">{% translate 'Última revisão:'%} {{ cardset.last_review|simplified_timesince }} </span>
            <span class="text-sm text-gray-500">{% translate 'Criado em:' %} {{ cardset.created_at|date:"d \d\e F \d\e Y" }}</span>
        </div>
        <div class="action-icons flex space-x-2 mt-4 justify-end">
            <button class="text-gray-500 hover:text-indigo-600" onclick="event.stopPropagation();" hx-get="{% url 'card:update_cardset' cardset_id=cardset.id %}" hx-target="#main-content"><i class="fas fa-edit"></i></button>
            <button class="text-gray-500 hover:text-red-600" onclick="event.stopPropagation();"
                _="
                on click call window.confirm('{% translate 'Você tem certeza que deseja excluir esse cardset?'%}') then set response to it
                if response == true
                    fetch {% url 'api-1.0.0:delete_cardset' cardset_id=cardset.id %} with method:'DELETE' then
                    htmx.ajax('GET', '{% url 'card:list_cardset' %}', {
                        target: '#cardset-content',
                        swap: 'innerHTML'
                    })
                end
                ">
                <i class="fas fa-trash-alt"></i>
            </button>
            <button class="text-gray-500 hover:text-green-600" onclick="event.stopPropagation();" hx-get="{% url 'card:add_cardset' cardset_id=cardset.id %}" hx-target="#main-content"><i class="fas fa-plus-circle"></i></button>
            <button class="{% if cardset.pinned %} text-yellow-600 {% else %} text-gray-500 hover:text-yellow-600 {% endif%}" onclick="event.stopPropagation();"
                _="
                on click fetch {% url 'api-1.0.0:update_cardset' cardset_id=cardset.id %} as JSON with method:'PATCH', body:{'pinned': not {{ cardset.pinned|lower }}} as JSON then
                htmx.ajax('GET', '{% url 'card:list_cardset' %}', {
                    target: '#cardset-content',
                    swap: 'innerHTML'
                })
                "
            ><i class="fas fa-thumbtack"></i>
        </button>
        </div>
    </div>
</div>
{% endfor %}